{% extends 'base.html' %}

{% block content %}
	<div class="container" style="width:40%">
		<center><h2>Registeration Form</h2></center>
	</div>


	<form action='/register/' method='POST'>
		{% from '_formhelpers.html' import render_field%}
			{{ render_field(form.username) }}
			{{ render_field(form.email) }}
			{{ render_field(form.password) }}
			{{ render_field(form.confirm) }}
			<center><p size="140%">{{ form.accept_tc(style="width:20px;height:20px;") }} Accept <a href="#">Terms and Conditions</a></p>
			<p style='color:red;'>{{ form.accept_tc.error }}</p>
			</center>
		<div class="container" style="width:40%;margin-top:10px;">
			<input class="form-control btn btn-primary" style="height:200%;font-size:180%;" type="Submit" value="Submit">
		</div>

		<br>
		<div class="container" style="width:40%;font-size:200%;"><center>{{ error }}</center></div>
	</form>
{% endblock %}